table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #4caf50;
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
}

.btnmenu {
  color: white;
  text-decoration: none;
}

#btndeco {
  float: right;
}

img {
  max-width: 300px;
  height: auto;
}

a {
  text-decoration: none;
}

.bouton {
  color: white;
  text-decoration: none;
  padding: 10px;
  background-color: #4caf50;
  max-width: 120px;
}